$darkAqua: #8c50ff;
$lightAqua: #e8dcff;
$Aqua: #bf9cff;
$Milky: #f6f5f5;
$darkWhite: #ffffff;
$opacityAqua:#8d50ffc7;
$mainGreen: #029352;
$black : #000000;
$white: #fff;
$red: #d80027;
$green: #1bce7e;